@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
    background-color: #eeeeee; 
	
	font-family: 'Open Sans', sans-serif; 
	
	text-align: left;
	
    color: #444444;
    
	font-size: 24px;

    line-height: 1.5;
	
	margin-left: 5%;
	margin-right: 5%;
	
	max-width: 40em;
	margin: 1em auto;
	padding: 1em;
}

@media (max-width: 768px) {	
	body {
		font-size: 12px;
		line-height: 1;
	}
}

nav ul, footer ul {
    font-family: 'Open Sans', sans-serif; 
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a, 
a:visited, 
a:focus { 
    color: #494e75;
    text-decoration: none; 
    transition: .15s; 
}
a:hover { 
    color: #494e75; 
}
a img { 
    border: 0; 
}
h1 {
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
	text-align: justify;
}
footer {
    border-top: 1px solid #cccccc;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
