/* Webfont: RodinNTLGPro-B */@font-face {
    font-family: 'FOT-RodinNTLGProB';
    src: url('FOT-RodinNTLGPro-B.woff2') format('woff2'), /* Modern Browsers */
         url('FOT-RodinNTLGPro-B.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

