@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background-color: #494E75; 
	
	font-family: 'Raleway', sans-serif;
	
	text-align: left;
	
	color: #444444;
    
	font-size: 24px;

    line-height: 1.5;
	margin: 0px;
	
	box-sizing: border-box;
}

footer {
	color: #ffffff;
	box-sizing: border-box;
	line-height: 0.5;
}

.container {
	margin: 0 auto;
    position: relative;
	max-width: 40em;
	padding: 1em;
}

.twocol1 {
	width: 50%;
	overflow: hidden;
    float: left;
}

.twocol {
	width: 50%;
	overflow: hidden;
}

.threecol {
	width: 33%;
	overflow: hidden;
    float: left;
}

a, 
a:visited, 
a:focus { 
    color: #E26C3C;
    text-decoration: none; 
    transition: .15s; 
}

a:hover { 
    color: #C24F11; 
}

a img { 
    border: 0; 
}

.header {
	margin: 0 auto;
    position: relative;
	max-width: 40em;
	padding: 1em;
}

.header ul {
	padding-left: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.header ul li {
	display: inline;
	text-align: right;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 22px;
}

.header ul li a, 
.header ul li a:visited, 
.header ul li a:focus { 
    color: #ffffff;
    text-decoration: none; 
    transition: .15s;
	position: relative;
	padding: 4px;
	padding-right: 8px;
	padding-left: 8px;
}

.header ul li a:hover { 
    background-color: #E26C3C;
	padding: 4px;
	padding-right: 8px;
	padding-left: 8px;
}

.current-link {
    background-color: #E26C3C;
}

hr {
    border: none;
    height: 4px;
	width: 90%;
    color: #E26C3C;
    background-color: #E26C3C;
}

@media (max-width: 800px) {	
	body {
		font-size: 14px;
		line-height: 1.5;
	}
	
	.header ul li {
		font-size: 12px;
	}
	
	footer {
		font-size: 12px;
		line-height: 0.5;
	}
	
	.twocol {
		width: 100%;
	}
	
	.threecol {
		width: 100%;
	}
}