---
layout: default
---
<h2><a href="/index.html">&#10094 Back?</a></h2>
<hr>
<p style="text-align: center;"><img style="max-width: 100%;" src = "/assets/icons/{{ page.keyword }}.png"></p>
<hr>
<div class="container video-grid" style="padding-left: 0em; padding-right: 0em; overflow:auto; ">
	{% for post in site.posts %}
		{% if post.series contains page.keyword %}
			<div class="threecol">
				<div style="width: 95%; overflow: auto;">
					<p style="margin-bottom: 0em;"><a href="{{ post.url }}"><img style="max-width: 100%;" src = {{ post.thumb }}></a></p>
					<p style="margin-top: 0em;"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></p>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>